server:
  port: 8080

spring:
  application:
    name: AI-Yunxun

  # ==========================
  # MySQL Database
  # ==========================
  datasource:
    url: jdbc:mysql://localhost:3306/ai_yunxun?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: ai_yunxun
    password: ai_yunxun
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    # ==========================
    # MongoDB
    # ==========================
    mongodb:
      host: localhost
      port: 27017
      username: ai_yunxun
      password: ai_yunxun
    # ==========================
    # Redis
    # ==========================
    redis:
      host: localhost
      port: 6379
      database: 0
      timeout: 3000ms
      password: ai_yunxun

  # ==========================
  # Neo4j
  # ==========================
  neo4j:
    uri: bolt://localhost:7687
    authentication:
      username: neo4j
      password: ai_yunxun

  ai:
    ollama:
      base-url: http://localhost:11434
      embedding:
        model: deepseek-coder:6.7b
    chat:
      memory:
        repository:
          neo4j:
            media-label:
            metadata-label:
            message-label:
            tool-call-label:
            session-label:
            tool-response-label:

# ==========================
# Logging
# ==========================
logging:
  level:
    root: INFO
    com.example: INFO
    io.lettuce.core: INFO
    org.mongodb.driver: INFO
    org.neo4j.driver: INFO
  file:
    name: backend/src/main/java/yunxun/ai/canary/backend/logs/app.log

# ==========================
# MyBatis-Plus
# ==========================
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
